{% extends 'ecommerce/main.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}
<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Total:<strong>{{request.session.cart|length}}</strong></h5></th>
						<th><h5>Total:<strong>{{total}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">

				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
					<div style="float:right; margin:5px"><a href="{% url 'cart_clear' %}" class="btn btn-danger">Clear Cart</a></div>
				</div>
				{% for key,value in request.session.cart.items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{value.image}}"></div>
					<div style="flex:2"><p>{{value.name}}</p></div>
					<div style="flex:1"><p>{{value.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{value.quantity}}</p>
						<div class="quantity">
							<a href="{% url 'item_increment' value.product_id %}"><img class="chg-quantity update-cart" src="{% static  'ecommerce/arrow-up.png' %}"></a>
							<a href="{% url 'item_decrement' value.product_id %}"><img class="chg-quantity update-cart" src="{% static  'ecommerce/arrow-down.png' %}"></a>
						</div>
					</div>
					<div style="flex:1"><p>{{value.price|multiply:value.quantity}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
